.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 500px;
    height: 100vh;
    padding-bottom: '100px';
  }
  
  .loader {
    text-align: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    padding-bottom: '40%';
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  p {
    margin-top: 30px;
    padding-left: 25%;
    padding-bottom: 150px;
    font-size: 1.2rem;
    color: #3498db;
  }
  